# Unit Test Report

Total: 0 ✔️ Passed: 0 ⏩ Skipped: 0 ❌ Failed: 0 ⏱️ Duration: 0s

<details>
    <summary>❌ 0/0 github.com/automa-saga/<b>automa</b> 0s</summary>
        
</details>
<details>
    <summary>✔️ 0/0 github.com/automa-saga/automa/<b>example</b> 443ms</summary>
        
</details>
