name: "ZXC: Code Compiles"
on:
  workflow_call:
    inputs:
      go-version:
        description: "Go Version:"
        type: string
        required: false
        default: ">=1.25.0"
      custom-job-label:
        description: "Custom Job Label:"
        type: string
        required: false
        default: "Code Compiles"

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  code-compiles:
    name: ${{ inputs.custom-job-label || 'Code Compiles' }}
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.39.2
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup GoLang
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ inputs.go-version }}

      - name: Compile Code
        run: task build

      - name: Code Style
        run: task lint:check
